@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400);

body, form input[type="text"] {
    font-family: "Open Sans", sans-serif;
}

.pod { fill: #005; }
.cable { stroke: #999; stroke-width: 1px; }
.host { fill: #500; }
.nodelabel { font-size: 8px; fill: #333; text-anchor: middle; font-family: "Open Sans", sans-serif; }
.switchlabel { font-size: 7px; fill: #111; text-anchor: middle; font-family: "Open Sans", sans-serif; }

svg.main { display: block; margin: auto; z-index: -1; }

div.control {
    position: absolute;
    right: .15in;
    left: .15in;
    width: 3.2in;
    padding-top: .2in;
    padding-bottom: .2in;
    padding-left: .25in;
    margin-right: .15in;
    background: #eee;
    font-size: .16in;
}

form ul {
    list-style-type:none;
    margin: .15in;
    padding: 0;
}

form ul li {
    margin-left: 1.2in;
    padding-bottom: .08in;
    line-height: .38in;
    min-height: .36in;
}
form ul li::after {
    content: "";
    display: table;
    clear: both;
}

form input[type="text"] {
    width: .45in;
    border: 1px solid #ccc;
    font-size: .15in;
}

form span.f {
    margin-left: -1.35in;
    width: 1.15in;
    text-align: right;
    padding-right: .08in;
    float: left;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }
div.comment { color: #666; text-align: center; margin-right: .15in; font-size: .14in; }
div.comment a { color: #66c; }

